section {
    display: flex;
    border: 2px solid grey;
}

img {
    width: 120px;
    height: 120px;
}

.text {
    line-height: 5px;
    padding-left: 20px;
}

p {
    color: grey;
}

span {
    font-weight: bold;
}

h1 {
    font-size: 20px;
}